@page "/"
@inject IConfiguration config
@inject IOptionsSnapshot<EmailSettingsOptions> emailSettingsOptions
@inject IOptionsSnapshot<MainSettingOptions> mainSettingOptions

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<p>
    MySetting Value: @mySetting
</p>
<p>
    MySubSetting Value: @mySubSetting
</p>
<p>
    mySubSubSetting Value: @mySubSubSetting
</p>
<p>
    connectionString Value: @connectionString
</p>
<p>
    Email Enabled: @emailSettings.EnableEmailSystem <br />
    Email Timeout: @emailSettings.EmailTimeOutInSeconds <br />
    Email Servers:

        @foreach (string server in emailSettings.EmailServers)
        {
            
                @:&nbsp; @server 
            
        }
        <br/>
    Email Admin: @emailSettings.EmailAdmin.FirstName @emailSettings.EmailAdmin.LastName


</p>
<p>
    SubSetting: @mainSettings.SubSetting <br/>
    mySubSubSetting: @mainSettings.SubSection.SubSubSetting
</p>
@code {
    string mySetting = string.Empty;
    string mySubSetting = string.Empty;
    string mySubSubSetting = string.Empty;
    string connectionString = string.Empty;
    EmailSettingsOptions emailSettings = new();
    MainSettingOptions mainSettings = new();
    protected override void OnInitialized()
    {
        mySetting = config.GetValue<string>("MySettings")!;
        mySubSetting = config.GetValue<string>("MainSetting:SubSetting")!;
        mySubSubSetting = config.GetValue<string>("MainSetting:SubSection:SubSubSetting")!;
        connectionString = config.GetConnectionString("Default")!;

        // emailSettings = config.GetSection("EmailSettings").Get<EmailSettingsOptions>()!;
        emailSettings = emailSettingsOptions.Value;
        mainSettings = mainSettingOptions.Value;
    }

}
